<h1><span>Configuración AWS</span> Usando nginx</h1>

<header>
<section>
<a href="https://github.com/Sebas1409" id="logo" target="_blank">AWS</a>

<label for="toggle-1" class="toggle-menu"><ul><li></li> <li></li> <li></li></ul></label>
<input type="checkbox" id="toggle-1">

<nav>
<ul>
<li><a routerLink="/form1"><i class="icon-home"></i>Form1</a></li>
<!-- <li><a routerLink="/form2"><i class="icon-user"></i>Form2</a></li> -->
<li><a routerLink="/imagenes"><i class="icon-thumbs-up-alt"></i>Imagenes</a></li>
</ul>
</nav>
</section>
</header>






